.nav-link-custom {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  margin: 0 25px;
  color: white;
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom:hover {
  color: #000;
  text-decoration: none;
}

.custom-logo {
  height: 90px;

}

.custom-slam {
  margin-top: 50px;
  font-size: 20px;
}